@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-poppins tracking-wider bg-black text-white text-[12px] sm:text-sm;
  }

  .letter {
    color: #d9fdff;
    text-shadow: 0 0 2rem #00f0ff;
    display: inline-block;
  }

  .letter-ani {
    transform: translate(-0.1px, 0.2rem) rotate(5deg);
    animation: flicker 2s ease-in-out infinite alternate;
  }
  .react-simple-star-rating {
    display: flex !important;
  }
  .filled-icons {
    display: flex !important;
  }
}
