@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "montBlack";
  src: url("./assets/fonts/Mont-Black.ttf");
}
@font-face {
  font-family: "montBlack";
  src: url("./assets/fonts/Mont-Black.ttf");
}
@font-face {
  font-family: "montBold";
  src: url("./assets/fonts/Mont-Bold.ttf");
}
@font-face {
  font-family: "montHeavy";
  src: url("./assets/fonts/Mont-Heavy.ttf");
}
@font-face {
  font-family: "montRegular";
  src: url("./assets/fonts/Mont-Regular.ttf");
}
@font-face {
  font-family: "montLight";
  src: url("./assets/fonts/Mont-Light.ttf");
}

@layer base {
  body {
    @apply font-montRegular tracking-wider bg-black text-white text-xs sm:text-sm;
  }

  .letter {
    color: #d9fdff;
    text-shadow: 0 0 2rem #00f0ff;
    display: inline-block;
  }

  .letter-ani {
    transform: translate(-0.1px, 0.2rem) rotate(5deg);
    animation: flicker 2s ease-in-out infinite alternate;
  }
  .react-simple-star-rating {
    display: flex !important;
  }
  .filled-icons {
    display: flex !important;
  }
}
